@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
	/* Background image */
	background-image: url(../../img/cover.jpg);

	/* Adjust background repeat */
  background-repeat: no-repeat;

	background-image: url(../../img/cover.jpg);

	/* Background size property */
	background-size: 600px;
	background-size: cover;

	/* Background position property*/
	background-position: center;

	/* Background scroll property */
	background-attachment: fixed;

}

h1{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.intro{
  padding: 50px 50px 250px 50px;
}

@media only screen and (max-width: 600px) {
	/* Mobile - Only */
    }


footer{
  color: white;
}
