body{
	/* Background image */
	background-image: url(../../img/cover.jpg);

	/* Adjust background repeat */
	background-repeat: repeat-y;
	background-repeat: repeat-x;
	background-repeat: no-repeat;

	background-image: url(../../img/cover.jpg);

	/* Background size property */
	background-size: 600px;
	background-size: cover;

	/* Background position property*/
	background-position: center;

	/* Background scroll property */
	background-attachment: fixed;

}
